{% block body %}
    <a href="{% url 'add' %}">登録画面へ</a>
    <a href="{% url 'ap' %}">計算(AP)画面へ</a>
    <form method="post" action="">
    <table border="1">
      <thead>
        <tr>
          <th>ap</th>
        </tr>
      </thead>
      <tbody>
        {% for Status in Statuses %}
          <tr>
            <td>{{ ap }}</td>
            <td>{{ Status.event }}</td>
            <td>{{ Status.updated_at }}</td>
            <td><a href="{% url 'edit' Status.id %}">更新画面へ</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
{% endblock %}