<!--#使用する値
    hp,mp #ここで入力したものを保存

    #計算
    ap = int(request.POST['hp'])*int(request.POST['mp']) in views.calc2
-->
{% block title %}AP電卓{% endblock title %}
{% block content %}
    <a href="{% url 'apcalc:index' %}">一覧画面へ</a>
    <h1>AP計算機</h1>
    <form method="post" action="">
        {% csrf_token %}
        <input type="number" name="hp">
        X
        <input type="number" name="mp">
        <button type="submit"> = </button><br>
        <input type="text" name="event">
        <h1>前回のAP:</h1>
    </form>
<!--表示は円形のメータで考える(ムカワ案)-->
{% endblock %}