<!--#使用する値
    form = ANSForm(request.POST or None)#ここで使用するformを定義
    rANS = ANS.objects.order_by('id').reverse()[:2]#過去2回分のレコードを抽出
    p1a = rANS[0].answer#1つ前の答え
    p2a = rANS[1].answer#2つ前の答え
    #計算
    num = int(request.POST['num'])
    nans = p1a + num-->
{% block title %}電卓{% endblock title %}
{% block content %}
    <a href="{% url 'index' %}">一覧画面へ</a>
    <h1>HP計算機</h1>
    <form method="post" action="">
        {% csrf_token %}
        <!--<input type="number" name="val1">-->
        {{ p1hp }}
        -
        <input type="number" name="dmg">
        <button type="submit"> = </button>
        <label>{{ form.event.label }}{{ form.event }}</label><br/>
        <h1>前回のHP:</h1>{{ p2hp }}
    </form>
<!--表示は円形のメータで考える(ムカワ案)-->
{% endblock %}