{% block body %}
    <a href="{% url 'add' %}">登録画面へ</a>{# 追加する #}
    <a href="{% url 'apc' %}">計算画面へ</a>{# 追加する #}
    <form method="post" action="">
    <table border="1">
      <thead>
        <tr>
          <th>ap</th>
          <th>hp</th>
          <th>mp</th>
          <th>event</th>
          <th>updated_at</th>
          <th>　</th>
        </tr>
      </thead>
      <tbody>
        {% for Status in Statuses %}
          <tr>
            <td>{{ Status.ap }}</td>
            <td>{{ Status.hp }}</td>
            <td>{{ Status.mp }}</td>
            <td>{{ Status.event }}</td>
            <td>{{ Status.updated_at }}</td>
            <td><a href="{% url 'edit' pk=Status.pk %}">更新画面へ</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <table border="2">
      <thead>
        <tr>
          <th>lossap</th>
          <th>dmg</th>
          <th>lossmp</th>
          <th>behavior</th>
          <th>time</th>
          <th>　</th>
        </tr>
      </thead>
      <tbody>
        {% for Index in Indexes %}
          <tr>
            <td>{{ Index.lossap }}</td>
            <td>{{ Index.dmg }}</td>
            <td>{{ Index.usemp }}</td>
            <td>{{ Index.behaivor }}</td>
            <td>{{ Index.time }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>  </form>
{% endblock %}