{% block body %}
    <a href="https://docs.google.com/spreadsheets/d/17cQGKrEWd1YTdaFUsDUUgEfww7MUM8jMZuLJ7Gpswnw/edit#gid=1533829234"  target="_blank">日報へ</a>{# 追加する #}
    <a href="{% url 'apcalc:apc' %}">計算画面へ</a>{# 追加する #}
    <a href="{% url 'apcalc:graph' %}">APグラフ</a>{# 追加する #}
    <a href="{% url 'apcalc:corpus' %}">MyDic</a>{# 追加する #}
    <form method="post" action="">
    <table border="1">
      <thead>
        <tr>
          <th>id</th>
          <th>ap</th>
          <th>hp</th>
          <th>mp</th>
          <th>event</th>
          <th>updated_at</th>
        </tr>
      </thead>
      <tbody>
        {% for Status in Statuses %}
          <tr>
            <td>{{ Status.id }}</td>
            <td>{{ Status.ap }}</td>
            <td>{{ Status.hp }}</td>
            <td>{{ Status.mp }}</td>
            <td><a href="{% url 'apcalc:edit' pk=Status.pk %}">{{ Status.event }}</a></td>
            <td>{{ Status.updated_at }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <table border="2">
      <thead>
        <tr>
          <th>lossap</th>
          <th>dmg</th>
          <th>lossmp</th>
          <th>behavior</th>
          <th>time</th>
          <th>　</th>
        </tr>
      </thead>
      <tbody>
        {% for Index in Indexes %}
          <tr>
            <td>{{ Index.lossap }}</td>
            <td>{{ Index.dmg }}</td>
            <td>{{ Index.usemp }}</td>
            <td>{{ Index.behaivor }}</td>
            <td>{{ Index.time }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>  </form>
{% endblock %}